<div class="name">
  {{ form.name }}
</div>

<div class="email">
  {{ form.mail }}
</div>

<div class="subject">
  {{ form.subject }}
</div>

<div class="message">
  {{ form.message }}
</div>

<div class="buttons">
  {{ form.submit }}
  {{ form.preview }}
</div>
{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}